.container{
  height: 600px;
  background: #fff;
    display: flex;
    justify-content: space-around;
    /* margin-top: 7%; */
}

.raceCard{
  margin-top: 10%;
height: 300px;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
.main{

  height: 50%;
  background: url(../../../public/headerTimerImg/7V4A2312.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}