.hidden {
  /* opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0; */
}


.updPhoto {
  width: 200px;
  border-radius: 24px;
  margin: 10px;
}

.btnUpd {
  margin: 10px;
}