.adminForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reform {
  margin-top: 200px;
}

input {
  margin-top: 0;
  margin-bottom: 20px;
}

form p {
  font-size: 12px;
  text-align:start;
  margin-bottom: 3px;
}
