.adminForm {
  display: flex;
  justify-content: center;
}

input {
  margin-top: 0;
  margin-bottom: 20px;
  border-radius: 5px;
  size: 15px;
}

form p {
  font-size: 20px;
  text-align: start;
  margin-bottom: 3px;
}
