.icon-add {
  background: url(../../../public/icons/icons8-add-new-24.png) no-repeat top
    right;
    background-size: 100%;
    padding: 18px 18px;
    border: 0ch;
}
.icon-del {
  background: url(../../../public/icons/icons8-проверено-48.png) no-repeat top
    right;
    background-size: 100%;
    padding: 18px 18px;
    border: 0ch;
}
