
.navBar {
  position:fixed !important;
  z-index: 3;
  background-color: #444444c3 !important;
  /* position: relative; */
  max-width: 100vw !important;
  /* display: flex; */
  /* height: 70px; */
  /* opacity: 0.3; */
  
}
.link {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.container {
  background-color: green;
  height: 90px;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: end; */
}

.admin {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  /* margin-left: -120px; */
}

.navigation {
  display: flex !important;
  height: 70px !important;
  /* flex-direction: row !important; */
  justify-content: space-around;
  align-items: center;
}

.exit {

}
